* {
    margin: 0;
    padding: 0;
}

.narbar-logo {
    margin-left: 50px;
}

#navbar-right {
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-buy {
    border-radius: 50px;
    background-color: blue;
}

.padding {
    padding-top: 80px;
}

.button-1 {
    border-radius: 50px;
    height: 50px;
}